# ------------------------------------------------------------

#Ignoro el template, no es necesario subir
Template
Informe TTM

# Ignoramos todas la extensiones que no nos interesan
*.bbl
*.gz
*.jpg
*.bib
*.aux
*.log
*.fls
*.out
*.fdb_latexmk
*.toc
*.png
*.zip